@charset "UTF-8";
body { font-size: 14px; font-family: 'Open Sans', sans-serif; line-height: 1.6; overflow-y: scroll; overflow-x: hidden; padding: 0 20px; z-index: -2; }

.layout { z-index: 0; margin: 0 auto !important; max-width: 1250px; }

.layout::before { z-index: -1; content: ""; position: absolute; left: 0; right: 0; top: 0; bottom: 0; background: url("../images/home-01.jpg") no-repeat center center fixed; background-size: cover; transition: opacity .5s ease; opacity: 0; }

.fullscreen .layout::before { opacity: 1; }

@media (min-width: 600px) and (max-width: 959px) { section, footer { text-align: center; } }

footer { font-size: 85%; }

footer p { padding: 0; margin: 20px 0 5px; }

@media (max-width: 599px) { footer p { text-align: center; } }

a, button { transition: all .5s ease; outline: none; }

a:focus, button:focus { outline: none; }

dl { width: auto; display: inline-block; text-align: left; }

dl dt { float: left; }

dl dd { margin-left: 50px; }

form { max-width: 600px; margin: auto; display: inline-block; }

@media (min-width: 600px) { form { margin: 0; } }

.md-scale:not(.md-is-open) .md-fab-action-item { opacity: 0; }

md-icon svg { position: relative; top: -1px; width: 24px; height: 24px; }

.navbar { font-family: 'Montserrat', sans-serif; margin-bottom: 0; }

.navbar .navbar_header .navbar_brand { font-size: 21px; font-weight: bold; letter-spacing: .15em; text-transform: uppercase; text-decoration: none; margin-top: 8px; display: block; color: #222; float: left; }

.fullscreen .navbar .navbar_header .navbar_brand { color: rgba(255, 255, 255, 0.95) !important; }

.navbar .navbar_header .navbar_label { left: -55px; top: 7px; position: absolute; display: block; }

.fullscreen .navbar .navbar_header .navbar_label { color: rgba(255, 255, 255, 0.95) !important; }

.navbar .navbar_header .navbar_toggle { overflow: visible; min-width: inherit; border-radius: 0; background: #eee; border: none; margin: 0 -20px 0 0; top: 0; width: 50px; padding: 22px 15px; position: relative; float: right; }

.navbar .navbar_header .navbar_toggle .icon_bar, .navbar .navbar_header .navbar_toggle .icon_bar::before, .navbar .navbar_header .navbar_toggle .icon_bar::after { background: #333; display: block; position: absolute; content: ''; border-radius: 1px; width: 20px; height: 3px; }

.navbar .navbar_header .navbar_toggle .icon_bar { position: relative; }

.navbar .navbar_header .navbar_toggle .icon_bar::before { margin-top: -6px; }

.navbar .navbar_header .navbar_toggle .icon_bar::after { margin-top: 6px; }

.navbar .navbar_nav { display: none; overflow: hidden; margin: 0 -20px; clear: both; padding-left: 0; list-style: none; }

.navbar .navbar_nav ul { list-style: none; padding-left: 0; }

.navbar .navbar_nav li { margin: 1px 0 0 0; }

.navbar .navbar_nav li.social .md-button { margin-left: 1px; text-align: center; }

.navbar .navbar_nav li.social .md-button:hover svg { fill: #333; }

.navbar .navbar_nav li.social .md-button:first-of-type { margin-left: 0; }

.navbar .navbar_nav li .md-button { margin: 0; border-radius: 0; text-decoration: none; text-transform: uppercase; font-size: 16px; color: #777; }

@media (max-width: 599px) { .navbar .navbar_nav li .md-button { background-color: #eee; width: 100%; display: block; } }

.navbar .navbar_nav li.active .md-button { color: #333; }

@media (max-width: 599px) { .navbar .navbar_nav li.active .md-button { background-color: #777; color: #eee; } }

@media (min-width: 600px) { .fullscreen .navbar a, .fullscreen .navbar .md-button { color: rgba(255, 255, 255, 0.95) !important; }
  .fullscreen .navbar a svg, .fullscreen .navbar .md-button svg { fill: rgba(255, 255, 255, 0.95) !important; }
  .fullscreen .navbar a:hover, .fullscreen .navbar .md-button:hover { opacity: .75; }
  .navbar .navbar_header { float: none; }
  .navbar .navbar_header .navbar_brand { margin: 25px 6px; }
  .navbar .navbar_header .navbar_toggle { display: none; }
  .navbar .navbar_nav { display: block !important; margin: 0; }
  .navbar .navbar_nav li { line-height: 0; }
  .navbar .navbar_nav li .md-ink-ripple { line-height: 36px; max-height: 36px; }
  .navbar .navbar_nav li .md-button { overflow: visible; line-height: 36px; min-width: 40px; text-align: left; }
  .navbar .navbar_nav li .md-button:hover { color: #333; background-color: transparent; }
  .navbar .navbar_nav li.social .md-button { text-align: center; } }

@media (min-width: 600px) and (max-width: 959px) { .navbar .navbar_header { position: relative; width: 100%; text-align: center; }
  .navbar .navbar_header .navbar_brand { width: auto; display: inline-block; float: none; margin: 15px auto; }
  .navbar .navbar_nav { text-align: center; vertical-align: text-top; }
  .navbar .navbar_nav .social { float: right; position: absolute; top: 0; right: 0; margin-right: 10px; }
  .navbar .navbar_nav .social .md-button { margin: 10px 5px; }
  .navbar .navbar_nav .social svg { fill: #777; }
  .navbar .navbar_nav > li { display: inline-block; }
  .navbar .navbar_nav > li > .md-button { margin: 0 0 0 30px; }
  .navbar .navbar_nav > li:first-of-type > .md-button { margin: 0 10px 0 0; }
  .navbar .navbar_nav > li ul { position: absolute; z-index: 10; text-align: left; background-color: white; box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12); }
  .fullscreen .navbar .navbar_nav > li ul { background-color: rgba(0, 0, 0, 0.25); }
  .navbar .navbar_nav > li ul .md-button { padding: 0 16px; } }

@media (min-width: 960px) { .navbar .navbar_nav li#subscribe { margin-top: 40px; margin-bottom: 40px; } }

.chevron::after { position: relative; content: ''; display: inline-block; border-style: solid; border-width: 2px 2px 0 0; height: 5px; width: 5px; transform: rotate(135deg); vertical-align: middle; margin: -6px 2px 0 8px; }

h1, h2, h3 { font-family: 'Montserrat', sans-serif; font-size: 21px; font-weight: normal; margin: 25px 0; }

h1 { margin-top: 15px; }

@media (min-width: 600px) { h1 { margin-top: 25px; } }

h2 { margin-bottom: 15px; }

h3 { margin-bottom: 5px; }

md-dialog .md-dialog-content { padding-bottom: 0; }

md-dialog .md-dialog-content .md-title { margin-top: 0; }

md-input-container label, md-input-container .md-placeholder { color: rgba(0, 0, 0, 0.87); }

.view.ng-enter, .view.ng-leave { position: absolute; display: block; width: 100%; top: 0; left: 0; transition: all .75s ease; }

.view.ng-enter { opacity: 0; }

.view.ng-enter.ng-enter-active { opacity: 1; }

.view.ng-leave.ng-leave-active { opacity: 0; }

.backward .view.ng-enter { left: 125%; }

.backward .view.ng-enter.ng-enter-active { left: 0; }

.backward .view.ng-leave.ng-leave-active { left: -125%; }

.forward .view.ng-enter { left: -125%; }

.forward .view.ng-enter.ng-enter-active { left: 0; }

.forward .view.ng-leave.ng-leave-active { left: 125%; }

.grid { margin: -30px; }

.grid .thumb { padding: 30px; }

.grid .thumb a { position: relative; padding-bottom: 80%; overflow: hidden; background-color: #eee; display: block; }

.grid .thumb a:hover img { opacity: .75; transform: scale(1.15); }

.grid .thumb a.loaded img { opacity: 1; }

.grid .thumb a.loaded .spinner { opacity: 0; transition: opacity .5s ease; }

.grid .thumb img { border-style: none; display: block; position: absolute; width: 100%; top: 0; left: 0; opacity: 0; transition: all .5s ease-in-out; }

.details { height: 60px; }

@media (min-width: 600px) { .details { height: 83px; } }

.details h1 { font-family: 'Open Sans', sans-serif; font-size: 14px; font-weight: bold; margin-bottom: 5px; }

@media (min-width: 600px) { .details h1 { display: inline-block; margin-top: 32px; } }

@media (max-width: 599px) { .details em { margin-right: 20px; display: block; } }

.image { position: relative; width: auto; display: block; background-color: #eee; }

@media (max-width: 599px) { .image { margin-left: -20px; margin-right: -20px; } }

.image img { width: 100%; min-height: 110px; height: auto; display: block; -webkit-user-drag: none; opacity: 0; transition: all .5s ease-in-out; }

.image.loaded img { opacity: 1; }

.image.loaded .spinner { opacity: 0; transition: opacity .5s ease; }

@media (min-width: 600px) { .image .control { opacity: 0; }
  .image:hover .control { opacity: .5; }
  .image:hover .control:hover { opacity: .8; } }

.control { cursor: pointer; outline: none; transition: all .5s ease; position: absolute; top: 0; bottom: 0; left: 0; width: 20%; opacity: .5; background-color: rgba(0, 0, 0, 0.001); }

.control.prev .md-button { left: -5px; }

@media (min-width: 600px) { .control.prev .md-button { left: 5px; } }

.control.prev .md-button::before { left: 2px; transform: rotate(-135deg); }

.control.next { right: 0; left: auto; }

.control.next .md-button { right: -5px; }

@media (min-width: 600px) { .control.next .md-button { right: 5px; } }

.control.next .md-button::before { right: 2px; transform: rotate(45deg); }

.control .md-button { position: absolute; }

@media (max-width: 599px) { .control .md-button { bottom: -50px; box-shadow: none !important; } }

@media (min-width: 600px) { .control .md-button { display: inline-block; top: 50%; margin-top: -20px; } }

.control .md-button::before { content: ''; display: inline-block; border-style: solid; border-width: 2px 2px 0 0; position: relative; vertical-align: top; width: 8px; height: 8px; margin-top: 15px; }

md-fab-speed-dial.md-fab-top-right { margin-top: 15px; right: -20px; }

md-fab-speed-dial.md-fab-top-right:hover md-fab-actions { background-color: rgba(0, 0, 0, 0.001); padding-top: 10px; }

md-fab-speed-dial.md-fab-top-right svg { fill: #333; }

@media (min-width: 600px) { md-fab-speed-dial.md-fab-top-right { margin-top: 20px; right: 5px; }
  md-fab-speed-dial.md-fab-top-right .md-fab-action-item .md-raised { opacity: .5; }
  md-fab-speed-dial.md-fab-top-right .md-fab-action-item .md-raised:hover { opacity: .8; } }

@media screen and (min-width: 0\0) { /* IE9 and IE10 rule sets go here */
  .ie_hide { display: none !important; } }

@keyframes spinner { to { transform: rotate(360deg); } }

@-webkit-keyframes spinner { to { -webkit-transform: rotate(360deg); } }

.spinner:before { content: 'Loading…'; position: absolute; top: 50%; left: 50%; width: 80px; height: 80px; margin-top: -40px; margin-left: -40px; }

.spinner:not(:required):before { content: ''; border-radius: 50%; border: 4px solid rgba(0, 0, 0, 0.1); border-top-color: rgba(0, 0, 0, 0.2); animation: spinner .75s linear infinite; -webkit-animation: spinner .75s linear infinite; }
