<section>

    <h1>About</h1>

    <p>b. 1974 in England. Lives and works in Ottawa, Canada.</p>
    <h2>Education</h2>
    <p>
        Coventry University, BA(Hons) Graphic Design, 1996<br>
        Coventry University, Foundation Diploma in Art, 1993
    </p>

    <h2>Exhibitions</h2>
    <dl>
        <dt>2017</dt>
        <dd>
            <em>UNSEEN Between Worlds</em> - artnow Gallery, Hamburg, Germany
        </dd>
        <dt>2016</dt>
        <dd>
            Fairfax Gallery, Tunbridge Wells, UK
        </dd>
        <dt>2011</dt>
        <dd>
            <em>Seeing is Believing</em> – London, UK<br>
            Brighton Art Fair – Brighton, UK<br>
            Artist Open Houses – Brighton, UK
        </dd>
        <dt>2010</dt>
        <dd>
            Brighton Art Fair – Brighton, UK<br>
            Artist Open Houses – Hove, UK
        </dd>
    </dl>

    <h2>Collections</h2>
    <p>
        Standard Chartered Bank, London, UK<br>
        Carroll Financial Associates, Charlotte, NC
    </p>

    <p>&nbsp;</p>
    <p>Represented by <a href="http://www.artnow-gallery.com/" target="_blank">artnow Gallery</a></p>

</section>
