<section>

   <div layout-xs="column" layout="row" layout-align-gt-xs="start center">
      <h1 flex flex-sm="60" flex-offset-sm="20">News and upcoming shows</h1>
      <div flex="nogrow" flex-sm="20">
         <md-button ng-href="http://andybeckstudio.blogspot.com" target="_blank">Studio blog</md-button>
      </div>
   </div>

   <div ng-repeat="item in items" class="news_item repeat_animation" animate-on-load>
      <h2>{{item.title}}</h2>
      <span ng-bind-html="item.content"></span>
   </div>
</section>
